/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/secret
/.docker
docker-compose.yml
.dockerignore
Homestead.json
npm-debug.log
yarn-error.log
*.env
auth.json
*.js.map
*.css.map

composer.lock
packacge-lock.json
/config
/bootstrap
/database/*
!/database/migrations
/database/migrations/*.php
!/database/migrations/*2017*.php
!/database/migrations/*2019*.php
/routes/*
!/routes/web.php
/storage
/resources/lang
*.txt