.flt-grp {
  margin: 8px 0;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.flt-grp .checkbox {
  margin: 0.5rem 1rem;
}
.flt-btn {
  font-weight: bold;
  &:hover {
    color: dodgerblue;
  }
}
