.item-card {
  height: 26em;
  padding: 0 6px;

  &:hover {
    z-index: 3;
  }
}

.item-card > div {
  position: relative;
  border: 0.8px solid gainsboro;
  background-color: #f5f8fa;

  &:hover {
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  }
  &:hover .item-spec {
    transform: scale(1);
    visibility: visible;
  }
}
.item-card .image-wrapper {
  position: relative;
  margin: 2rem 2rem 0;
  height: 19.5rem;
  & > img {
    max-height: 19.5rem;
    visibility: hidden;
  }
}

.item-card .caption {
  padding: 10px;
}
.item-card .caption > * {
  margin-top: 8px;
}
.item-card .caption > .vue-star-rating {
  display: inline-block;
}

.item-spec {
  transition: transform 0.2s;
  transform: scale(0);
  visibility: collapse;
  transform-origin: top;
  width: 100%;

  & tr td:last-child {
    width: 55%;
    padding-left: 10px;
    font-weight: bolder;
  }

  & tr:nth-child(odd) {
    background-color: #ededed;
  }
}
.item-spec:before {
  content: "";
  display: inline-block;
}

.item-card-name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
