.itmc {
    margin: 0 0.3rem;
    & > div {
        padding: 6px 25px 3px;
        font-size: 1.5rem;
        line-height: 2em;
    }
    & .dropdown, & select{
         display: inline-block;
    }
    & label {
        font-weight: normal;
    }
}

#sortby {
    width: 180px;
}

.item-card {
    height: 26em;
    padding: 6px 4px;

    &:hover {
        z-index: 3;
    }

    &:hover .item-spec {
        transform: scale(1);
        visibility: visible;
    }
}

.item-spec {
    transition: all 0.2s;
    transform: scale(0);
    visibility: collapse;
    transform-origin: top;
    width: 100%;

    & tr td:last-child {
        width: 55%;
        padding-left: 10px;
        font-weight: bolder;
    }

    & tr:nth-child(even) {
        background-color: whitesmoke;
    }
}

.item-card>.action-frm {
    right: 4px;
}

.item-card .image-wrapper {
    position: relative;
    margin: 3rem 2rem 0;
    height: 19.5rem;
    & > img {
        max-height: 19.5rem;
        visibility: hidden;
    }
}

.item-card-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ic-s {
    transition: all 0.3s;
    background-color: white !important;

    &:hover {
        box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    }
}