.tb-offer
    position: absolute
    top: 0
    text-align: center
    border: thin solid tomato
    border-width: 0 0 thin
    border-radius: 0 0 8px 0
    box-shadow: 0 0 8px red
    & span:nth-child(1)
        display: inline-block
        padding: 0.15em 0.6em
        background-color: tomato
        color: white
    & span:nth-child(2)
        padding: 0 0.4em
        color: tomato
.btn-buy
    transition: all 0.3s
    position: absolute
    padding: 0.6em 1em
    border: 0px solid white
    border-width: thin 0 0 thin
    border-radius: 0.8rem 0
    right: 0
    bottom: 0
    width: 10em
    color: white
    &:hover
        background-color: royalblue
.border1
    background-color: white
    border: thin solid lightgray
    border-top-width: 0
    & tr:nth-child(even)
        background-color: whitesmoke
.nav-tabs li.active a
    background-color: white