.itmc
    margin: 0 5px 5px
    padding: 5px
    border: 1px solid cornflowerblue
    border-width: 1px 0
    font-size: 1.6rem
    & select
        height: 27px
        display: inline
#items-on-page
    width: 60px
#sortby
    width: 180px
.product-state
    display: inline-block
    border-radius: 5px    
    font-weight: 900
    background-color: lightgray 
    cursor: default    
    & > *
        display: inline-block
        margin: 7px 
// .halots
//     position: relative
//     padding-bottom: 7px
//     &:hover .fa-share-alt
//         color: chartreuse
//     &:hover .share
//         padding: 2px 4px
//         margin: 2px 0
//         font-size: $right-note-font-size
.item-card 
    transition: all 0.35s
    height: 24.5em
    padding: 6px 4px
    &:hover
        z-index: 3
.item-card-img
    height: 19.5rem !important
    margin-top: 20px !important
.item-card-name
    display: block 
    white-space: nowrap
    overflow: hidden 
    text-overflow: ellipsis
.ic-s
    transition: all 0.3s
    background-color: white
    &:hover
        box-shadow: 0 0 8px rgba(82, 168, 236, .6)
    &:hover .item-spec
        font-size: 1.5rem
        width: 100%
.item-spec
    transition: all 0.3s
    font-size: 0
    & tr td:last-child
        font-weight: bolder
    & tr:nth-child(even)
        background-color: whitesmoke