.dr-btn {
    position: relative;
    width: 6.3em;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0 4px;
    box-shadow: 0 0 0.3em;
    background-color: white;
    &:hover, &:focus {
        color: whitesmoke;
        background-color: cornflowerblue;
    }
    &:focus .compare-drop {
        opacity: 1;
        transform: scale(1);
    }
    &:focus .compare-drop::after {
        border-width: 10px;
    }
}
.dr-btn + .dr-btn {
    margin-right: 6px;
}
.badge-offset {
    position: absolute;
    top: 4px;
    right: 4px;
    color: royalblue;
    background-color: white;
}
.naos {
    font-weight: 300;
    font-size: 3em;
    color: cornflowerblue;
    text-shadow:  0 0 8px rgba(82, 168, 236, .6);
    &:hover, &:focus {
        color: cornflowerblue;
    }
}
.vflip {
    position: relative;
    display: inline-block;
    transform: rotate(180deg);
    top: -1px;
}
.search-list {
    position: absolute;
    transition: all 0.3s;
    transform: scale(0);
    transform-origin: top;
    width: 100%;
    top: 4.2rem;
    box-shadow: 0 0 0.5em #909090;
    background-color: white;
    opacity: 0;
    /* border-radius: 0.3em; */
    z-index: 3;
}
.search-input:focus + .search-list {
    transform: scale(1);
    opacity: 1;
}
.search-list:hover {
    transform: scale(1);
    opacity: 1;
}
.search-itm:hover {
    background-color: whitesmoke;
    /* border-radius: 0.3em; */
}
.compare-drop {
    position: absolute;
    transition: all 0.3s;
    background-color: #ffffff;
    right: 0;
    color: black;
    margin: 15px 0px;
    border-radius: 0.3em;
    box-shadow: 0 1px 0.3em cornflowerblue;
    z-index: 5;
    border-top: 1px solid cornflowerblue;
    white-space: nowrap;
    text-align: left;
    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
}
.compare-drop > div {
    border-radius: 0.3em;
    padding: 5px 10px;
}
.compare-drop > div:hover {
    background-color: #f5f5f5;
    color: cornflowerblue;
}
.compare-drop::after {
    content: "";
    top: -21px;
    position: absolute;
    right: 15px;
    border: 0 solid transparent;
    border-bottom-color: cornflowerblue;
}